<ion-view view-title="News &amp; Announcements">
	<ion-content>
			
		<ion-list>
			<div class="list card" ng-repeat="item in announcements">
					
				<div class="item">
					<h2>{{ item.Title }}</h2>
					<small>By {{ item.CreatedBy }} on {{ formatDate( item.CreatedOn ) }}</small>
				</div>

				<div class="item item-body">
					{{ item.Description }}
				</div>

				<div class="item item-icon-left" ng-show="item.hasLink">
					<i class="icon ion-link"></i>
					Read More:
					<a href="{{ item.link }}" target="_blank">
						{{ item.link }}
					</a>
				</div>

			</div>
		</ion-list>

	</ion-content>
</ion-view>
